.form {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  width: 314px;
  border-radius: 3px;
  overflow: hidden;
}

.button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 15px;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #7a95ac;
  color: #fff;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
  cursor: pointer;

  opacity: 0.9;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    opacity: 1;
  }
}

.input {
  display: inline-block;
  font: inherit;
  font-size: 20px;
  outline: none;
  border: 1px solid rgb(165, 165, 165);
  padding-left: 4px;
  padding-right: 4px;
  &::placeholder {
    font: inherit;
    font-size: 18px;
  }
}

.list {
  padding: 30px 0;
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
}

.card {
  margin: 15px;
  position: relative;
  width: calc((100% - 120px) / 4);
  cursor: pointer;
}

.title {
  margin-top: 5px;
  text-align: center;
  line-height: 1.16;
  text-transform: uppercase;
}
