.list {
  display: flex;
  flex-wrap: wrap;

  margin: -10px;
}

.item {
  text-align: center;
  position: relative;
  width: calc((100% - 120px) / 6);
  margin: 10px;
}

.wrapper {
  padding: 5px;
  text-align: center;
}

.image {
  height: 275px;
}

.name {
  margin-bottom: 5px;
}
