.list {
  padding-top: 60px;
  padding-bottom: 30px;
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
}

.card {
  margin: 15px;
  position: relative;
  width: calc((100% - 120px) / 4);
  cursor: pointer;
}

.title {
  margin-bottom: 4px;
  line-height: 1.16;
  text-transform: uppercase;
}

.genre {
  line-height: 1.33;
  color: #000;
}
